#hero-list-table {
  margin-top: 20px;
  padding: 1.5rem 2rem;

  .table-header {
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 

    & > h1 {
      color: #369;
    }
  }
}

.header-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.mat-row:hover {
  background-color: #f0f0f0 !important;
}

.delete-btn {
  background-color: rgb(253, 84, 84);
  color: white;
  height: auto;

  &:hover {
    background-color: red;
  }
}

.flex-container {
  display: flex;

  .button-container {
    justify-content: center;
  }
}



